
team/migrations
team/views
team/__pycache__
dashboard/migrations
dashboard/__pycache__
profiles/migrations
profiles/__pycache__
staffing/__pycache__
team/migrations/__pycache__/
venv
*.pyc
.env
staticfiles
