{% extends 'signout_base.html' %}

{% block content %}
  <p class="login-box-msg">Sign in to start your session</p>

  {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}


  <form action="{% url 'profiles:signup'%}" method="post">
    {% csrf_token %}
    <div class="form-group has-feedback">
      {{ form.email }}
      <span class="glyphicon glyphicon-{{ form.email.help_text }} form-control-feedback"></span>
      {% for error in field.errors %}
        <p style="color: red">{{ error }}</p>
      {% endfor %}
    </div>
    <div class="form-group has-feedback">
      {{ form.password }}
      <span class="glyphicon glyphicon-{{ form.password.help_text }} form-control-feedback"></span>
      {% for error in field.errors %}
        <p style="color: red">{{ error }}</p>
      {% endfor %}
    </div>
    <div class="row">
      <div class="col-xs-8">
        <div class="checkbox icheck">
          <label>
            <input type="checkbox"> I agree to the <a href="#">terms</a>
          </label>
        </div>
      </div>
      <!-- /.col -->
      <div class="col-xs-4">
        <button type="submit" class="btn btn-primary btn-block btn-flat">Signin</button>
      </div>
      <!-- /.col -->
    </div>
  </form>

  <a href="#">I forgot my password</a><br>
  <a href="{% url 'profiles:signup' %}" class="text-center">Register a new membership</a>
{% endblock %}
