{% extends 'base_index.html' %}
{% load staticfiles %}

{% block content %}
  <section class="content-header">
      <h1>
        Departments
        <!-- <small>Preview page</small> -->
      </h1>
      <!-- <ol class="breadcrumb">
        <li><a href="/"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Projects</li>
      </ol> -->
  </section>
  <section class="content">
      <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3">
        <div class="box box-widget widget-user-2">
          <a href="{% url 'dashboard:index' %}"><div class="widget-user-header bg-yellow">
            <h3 style="text-align:center" class="widget-user-username">I&C</h3>
          </div></a>
        </div>
        <!-- /.widget-user -->
      </div>
      <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3">
        <div class="box box-widget widget-user-2">
          <a href="#"><div class="widget-user-header bg-green">
            <h3 class="widget-user-username">Department1</h3>
          </div></a>
        </div>
        <!-- /.widget-user -->
      </div>
      <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3">
        <div class="box box-widget widget-user-2">
          <!-- Add the bg color to the header using any of the bg-* classes -->
          <div class="widget-user-header bg-red">
            <h3 class="widget-user-username">Department2</h3>
          </div>
        </div>
        <!-- /.widget-user -->
      </div>
  </section>
{% endblock %}
