{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
  <section class="content-header">
      <h1>
        Generate Password
      </h1>
  </section>

  <section class="content col-md-6 col-centered">
    <div class="box box-primary">
      <div class="box-body">
        <form action="{% url 'team:generatePassword' %}" method="post" role="form">
          {% csrf_token %}
          <div class="form-group">
            <label for="employee_resetpassword">Reset Password</label>
            <input readonly type="text" name="employee_resetpassword" class="form-control" id="employee_resetpassword" placeholder="Reset Employee Password" value="{{new_password}}">
          </div>
          <div class="box-footer">
              <button type="submit" class="btn btn-warning pull-right">Reset Password</button>
          </div>
        </form>
      </div>
    </div>
  </section>
{% endblock %}
