{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
  <section class="content" style="padding:0">
    <div class="col-md-12" style="padding:0">
          <!-- Widget: user widget style 1 -->
          <div class="box box-widget widget-user">
            <!-- Add the bg color to the header using any of the bg-* classes -->
            <div class="widget-user-header bg-aqua-active">
              <h3 class="widget-user-username">{{project.project_title}}</h3>
              <h5 class="widget-user-desc">{{project.project_code}}</h5>
            </div>
            <div>
            </div>
            <div class="box-footer" style="padding: 0">
              <div class="row">
                <div class="col-sm-3 border-right">
                  <div class="description-block">
                    <h5 class="description-header">{{project.project_status}}</h5>
                    <span class="description-text">STATUS</span>
                  </div>
                  <!-- /.description-block -->
                </div>
                <!-- /.col -->
                <div class="col-sm-3 border-right">
                  <div class="description-block">
                    <h5 class="description-header">{{project.project_phase}}</h5>
                    <span class="description-text">PHASE</span>
                  </div>
                  <!-- /.description-block -->
                </div>
                <!-- /.col -->
                <div class="col-sm-3 border-right">
                  <div class="description-block">
                    <h5 class="description-header">{{resources|length}}</h5>
                    <span class="description-text">TEAM</span>
                  </div>
                  <!-- /.description-block -->
                </div>
                <!-- /.col -->
                <div class="col-sm-3">
                  <div class="description-block">
                    <h5 class="description-header">{{project.jesa_role}}</h5>
                    <span class="description-text">JESA ROLE</span>
                  </div>
                  <!-- /.description-block -->
                </div>
                <!-- /.col -->
              </div>
              <!-- /.row -->
            </div>
          </div>
          <!-- /.widget-user -->
        </div>

  <div class="row" style="padding: 0 16px">
      <div class="col-xs-12">
        <div class="box">
          <div class="box-header">
            <h3 class="box-title">Team</h3>

            <div class="box-tools">
              <form action="{% url 'dashboard:addMember' project.project_ID %}" method="post">
                <div class="input-group input-group-sm pull-right" style="width: 320px;">
                    {% csrf_token %}
                    <select class="form-control select2" name="potential_member" data-placeholder="Select an employee"
                            style="width: 100%;">
                      {% for potential_member in potential_members %}
                        <option value="{{potential_member.employee_ID}}">{{potential_member.employee_lastName}} {{potential_member.employee_firstName}}</option>
                      {% endfor %}
                    </select>
                    <span class="input-group-btn">
                      <button type="submit" class="btn btn-info btn-flat">Add</button>
                    </span>
                </div>
              </form>
              <!-- <div class="input-group input-group-sm pull-right" style="width: 150px;">
                <input type="text" name="table_search" class="form-control pull-right" placeholder="Search">

                <div class="input-group-btn">
                  <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
                </div>
              </div> -->
            </div>
          </div>
          <!-- /.box-header -->
          <div class="box-body table-responsive no-padding">
            <table class="table table-hover">
              <tr>
                <th>Name</th>
                <th>Jul-17</th>
                <th>Aug-17</th>
                <th>Sep-17</th>
                <th>Oct-17</th>
                <th>Nov-17</th>
                <th>Dec-17</th>
                <th>Jan-18</th>
                <th>Feb-18</th>
                <th>Mar-18</th>
                <th>Apr-18</th>
                <th>May-18</th>
                <th>Jun-18</th>
                <th>Jul-18</th>
                <th>Aug-18</th>
                <th>Sep-18</th>
                <th>Oct-18</th>
                <th>Nov-18</th>
                <th>Dec-18</th>
                <th>Total</th>
              </tr>

              {% for resource in resources %}
                <tr>
                  <td>{{resource.Employee.employee_lastName}} {{resource.Employee.employee_firstName}}</td>
                  <td>xxx</td>
                  <td>xxx</td>
                  <td>xxx</td>
                  <td>xxx</td>
                  <td>xxx</td>
                  <td>xxx</td>
                  <td>xxx</td>
                  <td>xxx</td>
                  <td>xxx</td>
                  <td>xxx</td>
                  <td>xxx</td>
                  <td>xxx</td>
                  <td>xxx</td>
                  <td>xxx</td>
                  <td>xxx</td>
                  <td>xxx</td>
                  <td>xxx</td>
                  <td>xxx</td>
                  <td>xxxxx</td>
                  <td>
                    <form action="{% url 'dashboard:deleteMember' project.project_ID %}" method="post">
                      {% csrf_token %}
                      <input type="hidden" class="form-control" name="member_id" value="{{resource.Employee.employee_ID}}">
                      <button type="submit" class="btn btn-danger"><i class="fa fa-close"></i></button>
                    </form>
                  </td>
                </tr>
              {% endfor %}
              <!-- <tr>
                <td>175</td>
                <td>Mike Doe</td>
                <td>11-7-2014</td>
                <td><span class="label label-danger">Denied</span></td>
                <td>Bacon ipsum dolor sit amet salami venison chicken flank fatback doner.</td>
              </tr> -->
            </table>
          </div>
          <!-- /.box-body -->
        </div>
        <!-- /.box -->
      </div>
    </div>
  </section>

  <script>
    $(function () {
      $('.select2').select2()
    })
  </script>
{% endblock %}
