{% extends 'base.html' %}
{% load staticfiles %}
{% load calendar_filter %}

{% block content %}
  <section class="content" style="padding:0">
    <div class="col-md-12" style="padding:0">
          <!-- Widget: user widget style 1 -->
          <div class="box box-widget widget-user">
            <!-- Add the bg color to the header using any of the bg-* classes -->
            <div class="widget-user-header bg-aqua-active">
              <h3 class="widget-user-username">{{project.project_title}}</h3>
              <h5 class="widget-user-desc">{{project.project_code}}</h5>
            </div>
            <div>
            </div>
            <div class="box-footer" style="padding: 0">
              <div class="row">
                <div class="col-sm-3 border-right">
                  <div class="description-block">
                    <h5 class="description-header">{{project.project_status}}</h5>
                    <span class="description-text">STATUS</span>
                  </div>
                  <!-- /.description-block -->
                </div>
                <!-- /.col -->
                <div class="col-sm-3 border-right">
                  <div class="description-block">
                    <h5 class="description-header">{{project.project_phase}}</h5>
                    <span class="description-text">PHASE</span>
                  </div>
                  <!-- /.description-block -->
                </div>
                <!-- /.col -->
                <div class="col-sm-3 border-right">
                  <div class="description-block">
                    <h5 class="description-header">{{resources|length}}</h5>
                    <span class="description-text">TEAM</span>
                  </div>
                  <!-- /.description-block -->
                </div>
                <!-- /.col -->
                <div class="col-sm-3">
                  <div class="description-block">
                    <h5 class="description-header">{{project.jesa_role}}</h5>
                    <span class="description-text">JESA ROLE</span>
                  </div>
                  <!-- /.description-block -->
                </div>
                <!-- /.col -->
              </div>
              <!-- /.row -->
            </div>
          </div>
          <!-- /.widget-user -->
        </div>

  <div class="row" style="padding: 0 16px">
      <div class="col-xs-12">
        <div class="box box-primary">
          <div class="box-header">
            <h3 class="box-title">Team</h3>

            <div class="box-tools">
              <form action="{% url 'dashboard:addMember' project.project_ID %}" method="post">
                <div class="input-group input-group-sm pull-right" style="width: 320px;">
                    {% csrf_token %}
                    <select class="form-control select2" name="potential_member" data-placeholder="Select an employee"
                            style="width: 100%;">
                      {% for potential_member in potential_members %}
                        <option value="{{potential_member.employee_ID}}">{{potential_member.employee_lastName}} {{potential_member.employee_firstName}}</option>
                      {% endfor %}
                    </select>
                    <span class="input-group-btn">
                      <button type="submit" class="btn btn-info btn-flat">Add</button>
                    </span>
                </div>
              </form>
            </div>
          </div>
          <!-- /.box-header -->
          <div class="box-body table-responsive no-padding">
            <table class="table table-hover">
              <tr>
                <th>Name</th>
                {% for single_date in date_range %}
                  <th>{{single_date}}</th>
                {% endfor %}
                <th>Total</th>
              </tr>

              {% for resource in resources_view %}
                <tr>
                  <td>{{resource.name}}</td>
                    {% for single_date in date_range %}
                      <td>
                        <form class="hidden" id="{{resource.name}}-{{single_date}}-form" action="{% url 'dashboard:saveMemberHours' project.project_ID %}" method="post">
                          {% csrf_token %}
                          <input type="hidden" class="form-control" name="employee_ID" value="{{resource.employee_ID}}" style="width: 56px;">
                          <input type="hidden" class="form-control" name="date" value="{{single_date}}" style="width: 56px;">
                          <input type="text" class="form-control" name="hours" value="{{resource|get_item:single_date}}" style="width: 56px;">
                        </form>
                        <div id="{{resource.name}}-{{single_date}}-lbl" onclick="editField('{{resource.name}}-{{single_date}}')">
                          {{resource|get_item:single_date}}
                        </div>
                      </td>
                    {% endfor %}
                    <td>xxxxx</td>
                  <td>
                    <form action="{% url 'dashboard:deleteMember' project.project_ID %}" method="post">
                      {% csrf_token %}
                      <input type="hidden" class="form-control" name="member_id" value="{{resource.Employee.employee_ID}}">
                      <button type="submit" class="btn btn-danger"><i class="fa fa-close"></i></button>
                    </form>
                  </td>
                </tr>
              {% endfor %}
            </table>
          </div>
          <!-- /.box-body -->
        </div>
        <!-- /.box -->
      </div>
      <div class="col-md-4 col-xs-12">
        <!-- TO DO List -->
          <div class="box box-primary">
            <div class="box-header">
              <i class="ion ion-clipboard"></i>
              <h3 class="box-title">Deliverables</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
              <!-- See dist/js/pages/dashboard.js to activate the todoList plugin -->
              <ul class="todo-list">
                {% for deliverable in deliverables %}
                  <form action="{% url 'dashboard:updateDelivrable' project.project_ID %}" method="post">
                    {% csrf_token %}
                    <li class="{% if deliverable.is_done == True %} done {% endif %}">
                      <!-- checkbox -->
                      <input type="hidden" class="form-control" name="deliverable_ID" value="{{deliverable.deliverable_ID}}">
                      <input type="checkbox" name="is_done" {% if deliverable.is_done == True %} checked {% endif %}/>
                      <!-- todo text -->
                      <span class="text">{{deliverable.deliverable_title}}</span>
                    </li>
                  </form>
                {% endfor %}
              </ul>
            </div>
            <!-- /.box-body -->


            <div class="box-footer clearfix no-border">
              <form action="{% url 'dashboard:addDeliverable' project.project_ID %}" method="post">
                {% csrf_token %}
                <div class="box-footer clearfix no-border input-group input-group-sm" style="wid">
                  <select class="form-control select2" name="deliverable_title" data-placeholder="Select a Deliverable" style="width: 100%;">
                    <optgroup label="DRAWINGS">
                      <option value="DRAWINGS_P & ID’s.">P &amp; ID’s</option>
                      <option value="DRAWINGS_CABLE BLOCK DIAGRAM FOR PACKAGE UNIT">CABLE BLOCK DIAGRAM FOR PACKAGE UNIT</option>
                      <option value="DRAWINGS_LOGIC DIAGRAMS">LOGIC DIAGRAMS</option>
                      <option value="DRAWINGS_POWER SUPPLY LINE DIAGRAM">POWER SUPPLY LINE DIAGRAM</option>
                      <option value="DRAWINGS_INSTRUMENT CABLE TRAY LAYOUT">INSTRUMENT CABLE TRAY LAYOUT</option>
                      <option value="DRAWINGS_GRAPHICS AND REPORTS OF CONTROL SYSTEM">GRAPHICS AND REPORTS OF CONTROL SYSTEM</option>
                      <option value="DRAWINGS_CONTROL SYSTEM ARCHITECTURE">CONTROL SYSTEM ARCHITECTURE</option>
                      <option value="DRAWINGS_AIR MANIFOLD LOCATION PLAN">AIR MANIFOLD LOCATION PLAN</option>
                      <option value="DRAWINGS_GENERAL ARRANGEMENTS">GENERAL ARRANGEMENTS</option>
                      <option value="DRAWINGS_EXPLODED VIEW DRAWINGS">EXPLODED VIEW DRAWINGS</option>
                      <option value="DRAWINGS_CROSS SECTIONAL DRAWINGS (INC PARTS LIST)">CROSS SECTIONAL DRAWINGS (INC PARTS LIST)</option>
                      <option value="DRAWINGS_INTERNAL WIRING DIAGRAMS /CONNECTION DIAGRAMS">INTERNAL WIRING DIAGRAMS /CONNECTION DIAGRAMS</option>
                      <option value="DRAWINGS_INSTRUMENT TERMINATION & HOOK-UP DETAILS">INSTRUMENT TERMINATION & HOOK-UP DETAILS</option>
                      <option value="DRAWINGS_INSTRUMENTATION WIRING SCHEMATICS">INSTRUMENTATION WIRING SCHEMATICS</option>
                      <option value="DRAWINGS_INSTRUMENT VENDOR DRAWINGS">INSTRUMENT VENDOR DRAWINGS</option>
                      <option value="DRAWINGS_INSTRUMENT LOCATION DRAWINGS">INSTRUMENT LOCATION DRAWINGS</option>
                      <option value="DRAWINGS_EARTHING DETAILS">EARTHING DETAILS</option>
                      <option value="DRAWINGS_INSTRUMENT LOOP DRAWINGS">INSTRUMENT LOOP DRAWINGS</option>
                      <option value="DRAWINGS_PANEL LAY-OUTS (INTERNAL LAY-OUT,TERMINATION DRAWING AND WIRING DETAILS)">PANEL LAY-OUTS (INTERNAL LAY-OUT,TERMINATION DRAWING AND WIRING DETAILS)</option>
                      <option value="DRAWINGS_JUNCTION BOX DIAGRAMS">JUNCTION BOX DIAGRAMS</option>
                      <option value="DRAWINGS_NAMEPLATE DRAWINGS">NAMEPLATE DRAWINGS</option>
                      <option value="DRAWINGS_AS BUILT DRAWINGS">AS BUILT DRAWINGS</option>
                    </optgroup>

                    <optgroup label="SPECIFICATIONS">
                      <option value="SPECIFICATIONS_INSTRUMENT DATA SHEETS">INSTRUMENT DATA SHEETS</option>
                      <option value="SPECIFICATIONS_CATALOGUE DATA SHEETS">CATALOGUE DATA SHEETS</option>
                      <option value="SPECIFICATIONS_INTERLOCK AND SAFETY SYSTEM FUNCTION DESCRIPTIONS">INTERLOCK AND SAFETY SYSTEM FUNCTION DESCRIPTIONS</option>
                      <option value="SPECIFICATIONS_CONTROL NARRATIVE REPORT">CONTROL NARRATIVE REPORT</option>
                    </optgroup>

                    <optgroup label="STUDIES/ CALCULATIONS">
                      <option value="STUDIES/ CALCULATIONS_VALVES CALCULATIONS">VALVES CALCULATIONS</option>
                      <option value="STUDIES/ CALCULATIONS_INSTRUMENTS CALCULATIONS">INSTRUMENTS CALCULATIONS</option>
                      <option value="STUDIES/ CALCULATIONS_POWER CONSUMPTION & HEAT DISSIPATION CALCULATION">POWER CONSUMPTION & HEAT DISSIPATION CALCULATION</option>
                      <option value="STUDIES/ CALCULATIONS_AVAILABILITY & RELIABILITY CALCULATIONS">AVAILABILITY & RELIABILITY CALCULATIONS</option>
                    </optgroup>

                    <optgroup label="SCHEDULES">
                      <option value="SCHEDULES_MTO “Material Take-off”">MTO “Material Take-off”</option>
                      <option value="SCHEDULES_INSTRUMENT INDEX">INSTRUMENT INDEX</option>
                      <option value="SCHEDULES_LIST OF REQUIRED CALIBRATION AND TEST EQUIPMENT">LIST OF REQUIRED CALIBRATION AND TEST EQUIPMENT</option>
                      <option value="SCHEDULES_I/O LIST">I/O LIST</option>
                      <option value="SCHEDULES_INSTRUMENTATION CABLE SCHEDULE">INSTRUMENTATION CABLE SCHEDULE</option>
                      <option value="SCHEDULES_I&C CABLE LIST">I&C CABLE LIST</option>
                      <option value="SCHEDULES_CAUSE AND EFFECT DIAGRAMS">CAUSE AND EFFECT DIAGRAMS</option>
                      <option value="SCHEDULES_FIELD JUNCTION BOX SCHEDULE">FIELD JUNCTION BOX SCHEDULE</option>
                      <option value="SCHEDULES_HARDWIRED INTERFACE SIGNAL LIST WITH CONTROL SYSTEM /VENDOR'S PLC SYSTEM">HARDWIRED INTERFACE SIGNAL LIST WITH CONTROL SYSTEM /VENDOR'S PLC SYSTEM</option>
                      <option value="SCHEDULES_ALARM AND TRIP SCHEDULE">ALARM AND TRIP SCHEDULE</option>
                      <option value="SCHEDULES_CONTROL SYSTEM CABINETS LIST">CONTROL SYSTEM CABINETS LIST</option>
                      <option value="SCHEDULES_AIR MANIFOLD SCHEDULE">AIR MANIFOLD SCHEDULE</option>
                      <option value="SCHEDULES_I&C POWER SUPPLY LIST">I&C POWER SUPPLY LIST</option>
                    </optgroup>

                    <optgroup label="MANUALS / PROCEDURES">
                      <option value="MANUALS / PROCEDURES_INSTALLATION, OPERATION AND MAINTENANCE MANUAL">INSTALLATION, OPERATION AND MAINTENANCE MANUAL</option>
                      <option value="MANUALS / PROCEDURES_FAT PROCEDURES AND REPORT">FAT PROCEDURES AND REPORT</option>
                      <option value="MANUALS / PROCEDURES_SAT PROCEDURES AND REPORT">SAT PROCEDURES AND REPORT</option>
                      <option value="MANUALS / PROCEDURES_LOOP TEST REPORT">LOOP TEST REPORT</option>
                      <option value="MANUALS / PROCEDURES_QUALITY PLAN">QUALITY PLAN</option>
                      <option value="MANUALS / PROCEDURES_QUALITY ASSURANCE MANUAL">QUALITY ASSURANCE MANUAL</option>
                      <option value="MANUALS / PROCEDURES_TECHNICAL CONTRACTOR & SUB-CONTRACTOR DOCUMENTATION (English & French)">TECHNICAL CONTRACTOR & SUB-CONTRACTOR DOCUMENTATION (English & French)</option>
                      <option value="MANUALS / PROCEDURES_INSPECTION AND TEST PROCEDURES">INSPECTION AND TEST PROCEDURES</option>
                      <option value="MANUALS / PROCEDURES_STORAGE REQUIREMENTS">STORAGE REQUIREMENTS</option>
                    </optgroup>

                    <optgroup label="CERTIFICATION">
                      <option value="CERTIFICATIONS_HYDROSTATIC/ PNEUMATIC CERTIFICATE">HYDROSTATIC/ PNEUMATIC CERTIFICATE</option>
                      <option value="CERTIFICATIONS_CALIBRATION CERTIFICATES">CALIBRATION CERTIFICATES</option>
                      <option value="CERTIFICATIONS_MATERIAL TEST CERTIFICATE">MATERIAL TEST CERTIFICATE</option>
                      <option value="CERTIFICATIONS_PERFORMANCE TESTING CERTIFICATE">PERFORMANCE TESTING CERTIFICATE</option>
                      <option value="CERTIFICATIONS_CODE COMPLIANCE CERTIFICATE">CODE COMPLIANCE CERTIFICATE</option>
                      <option value="CERTIFICATIONS_LETTERS OF CONFORMITY">LETTERS OF CONFORMITY</option>
                      <option value="CERTIFICATIONS_CERTIFIED DIMENSIONAL DRAWINGS">CERTIFIED DIMENSIONAL DRAWINGS</option>
                    </optgroup>

                    <optgroup label="SPARES">
                      <option value="SPARES_RECOMMENDED COMMISSIONING SPARE PARTS & CONSUMABLES LIST">RECOMMENDED COMMISSIONING SPARE PARTS & CONSUMABLES LIST</option>
                      <option value="SPARES_RECOMMENDED SPARE PARTS & CONSUMABLES FOR 2 YEARS CONTINUOUS OPERATION">RECOMMENDED SPARE PARTS & CONSUMABLES FOR 2 YEARS CONTINUOUS OPERATION</option>
                      <option value="SPARES_SPECIAL TOOLS LIST">SPECIAL TOOLS LIST</option>
                      <option value="SPARES_RECOMMENDED CAPITAL / INSURANCE SPARES">RECOMMENDED CAPITAL / INSURANCE SPARES</option>
                    </optgroup>

                    <optgroup label="WEIGHT">
                      <option value="WEIGHT_WEIGHT INFORMATION SHEET and MANUFACTURING LOCATION">WEIGHT INFORMATION SHEET and MANUFACTURING LOCATION</option>
                      <option value="WEIGHT_CONTROL SYSTEM CABINETS WEIGHTS AND DIMENTIONS">CONTROL SYSTEM CABINETS WEIGHTS AND DIMENTIONS</option>
                    </optgroup>

                  </select>
                  <span class="input-group-btn">
                    <button type="submit" class="btn btn-default">Add Deliverable</button>
                  </span>
                </div>
              </form>
            </div>
          </div>
          <!-- /.box -->
      </div>
      <div class="col-md-3 col-xs-12">
        <!-- TO DO List -->
          <div class="box box-primary">
            <div class="box-header">
              <i class="ion ion-clipboard"></i>

              <h3 class="box-title">Resources</h3>

            </div>
            <!-- /.box-header -->
            <div class="box-body">
              <!-- See dist/js/pages/dashboard.js to activate the todoList plugin -->
              <ul class="todo-list">
                {% for resource in resources %}
                  <li>
                    <!-- todo text -->
                    <span class="text">{{resource.Employee.employee_lastName}} {{resource.Employee.employee_firstName}}</span>
                    <!-- Emphasis label -->
                    <small class="label label-primary"><i class="fa fa-clock-o"></i> {{resource.actual_hours}}</small>
                    <!-- General tools such as edit or delete-->
                  </li>
                {% endfor %}
              </ul>
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
      </div>
      <div class="col-md-3 col-xs-12">
        <!-- TO DO List -->
          <div class="box box-primary">
            <div class="box-header">
              <i class="ion ion-clipboard"></i>

              <h3 class="box-title">Assumptions</h3>

            </div>
            <!-- /.box-header -->
            <div class="box-body">
              <!-- See dist/js/pages/dashboard.js to activate the todoList plugin -->
              <ul class="todo-list">
                {% for assumption in assumptions %}
                  <li>
                    <!-- todo text -->
                    <span class="text">{{assumption.assumption_text}}</span>
                    <!-- Emphasis label -->
                    <!-- <small class="label label-danger"><i class="fa fa-clock-o"></i> 2 mins</small> -->
                    <!-- General tools such as edit or delete-->
                  </li>
                {% endfor %}
              </ul>
            </div>
            <!-- /.box-body -->
            <div class="box-footer clearfix no-border input-group input-group-sm">
              <form action="{% url 'dashboard:addAssumption' project.project_ID %}" method="post">
                {% csrf_token %}
                <div class="box-footer clearfix no-border input-group input-group-sm" style="wid">
                  <input type="text" name="assumption_text" class="form-control" id="assumption_text" placeholder="Your assumption ...">
                  <span class="input-group-btn">
                    <button type="submit" class="btn btn-default"> Add Assumption</button>
                  </span>
                </div>
              </form>
            </div>
          </div>
          <!-- /.box -->
      </div>
      <div class="col-md-3 col-xs-12">
        <!-- TO DO List -->
          <div class="box box-primary">
            <div class="box-header">
              <i class="ion ion-clipboard"></i>

              <h3 class="box-title">Remaining Budget</h3>

            </div>
            <!-- /.box-header -->
            <div class="box-body">
              <!-- See dist/js/pages/dashboard.js to activate the todoList plugin -->
              <ul class="todo-list">
                  <li>
                    <!-- todo text -->
                    <span class="text">{{project.remaining_budget}}</span>
                  </li>
              </ul>
            </div>
            <!-- /.box-body -->
            <div class="box-footer clearfix no-border input-group input-group-sm">
              <form action="{% url 'dashboard:updateBudget' project.project_ID %}" method="post">
                {% csrf_token %}
                <div class="box-footer clearfix no-border input-group input-group-sm" style="wid">
                  <input type="number" name="spending" class="form-control" id="spending" placeholder="Your spendings">
                  <span class="input-group-btn">
                    <button type="submit" class="btn btn-default"> Subtract Spendings</button>
                  </span>
                </div>
              </form>
            </div>
          </div>
          <!-- /.box -->
      </div>
    </div>
  </section>

  <script>
    var selectedForm;
    $(function () {
      $('.select2').select2();
      $('.todo-list').todoList({
         onCheck  : function () {
           this.parent().parent().submit()
           window.console.log($(this), 'The element has been checked');
         },
         onUnCheck: function () {
           this.parent().parent().submit()
           window.console.log($(this), 'The element has been unchecked');
         }
       });
    });

    // $(window).click(function(e) {
    //     if(selectedForm !== undefined) selectedForm.submit();
    // });

    function editField(field_id){
      document.getElementById(field_id + "-lbl").classList.add("hidden");
      document.getElementById(field_id + "-form").classList.remove("hidden");
      if(selectedForm !== undefined) selectedForm.submit();
      selectedForm = document.getElementById(field_id + "-form")
    }
  </script>
{% endblock %}
